@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Inconsolata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Red+Hat+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

button{
    all: unset;
}